<section class='todoapp'>
  <header id='header'>
    <h1>todos</h1>
    {{input type='text'
            class='new-todo'
            placeholder='What needs to be done?'
            value=newTitle
            action='createTodo'}}
  </header>

  <section class='main'>
    {{todos-list todos=filtered class='todo-list'}}

    {{input type='checkbox'
            class='toggle-all'
            checked=allAreDone}}
  </section>

  <footer class='footer'>
    <span class='todo-count'>
      <strong>{{active.length}}</strong> {{inflection}} left
    </span>

    <ul class='filters'>
      <li> {{link-to 'All' 'index'       (query-params state='all')       activeClass='selected'}} </li>
      <li> {{link-to 'Active' 'index'    (query-params state='active')    activeClass='selected'}} </li>
      <li> {{link-to 'Completed' 'index' (query-params state='completed') activeClass='selected'}} </li>
    </ul>

    {{#if completed}}
      <button class='clear-completed' {{action 'clearCompleted'}}>
        Clear completed ({{completed.length}})
      </button>
    {{/if}}
  </footer>
</section>

<footer class='info'>
  <p>Double-click to edit a todo</p>
</footer>
