{{#if isEditing}}
  {{edit-todo class='edit' 
              value=title
              focus-out='titleChange'
              insert-newline='titleChange'}}
{{else}}
  {{todo-checkbox class="toggle" 
                  checked=isCompleted
                  action='isCompletedChange'}}
  <label {{action 'editTodo' on='doubleClick'}}>{{title}}</label>
  <button {{action 'removeTodo'}} class='destroy'></button>
{{/if}}
